<div class="aula">
    <h1>Hello World!</h1>
</div>
<nav class="aula">
    <a routerLink="/">Home</a>
    <a routerLink="/list">List</a>
    <a routerLink="/pipes">Pipes</a>
    <a routerLink="/twowaydatabinding">Two Way</a>
</nav>
<router-outlet></router-outlet>

<!-- <app-interpolation></app-interpolation>
<app-directives></app-directives>
<app-if-render></app-if-render>
<app-eventos></app-eventos>
<div class="aula">
    <h2>Recebendo Output</h2>
    <h3>{{ myNumber }}</h3>
    <app-child (newEvent)="summeNumber()" [nome]="userName" [jumbaData]="userData"></app-child>
</div>
<app-list-render></app-list-render>
<app-pipes></app-pipes>
<app-two-way-binding></app-two-way-binding> -->