<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened 
        fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item>
                <div class="sidenav--option">
                    <i class="material-icons">
                        home
                    </i>
                    <span style="padding-top: 3px;"  >Início</span>
                </div>
            </a>
            <a mat-list-item >
                <div class="sidenav--option">
                    <i class="material-icons">
                        storefront
                    </i>
                    <span>Produtos</span>
                </div>
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>
