* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

.nav {
    /* background-color: #6B2285; */
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.nav--troll--title {
    display: flex;
    align-items: center;
}

.nav--troll-face {
    width: 31px;
    height: 26px;
    margin: 10px;
}

.nav--title {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    /* flex-grow: 1; */
}

.nav--description {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px;
}




/* MEME */
.meme {
    padding: 20px;
    /* background-color: aqua; */
    width: 477px;
    margin: auto;
}

.meme input {
    margin: 10px 0; 
    border: solid 1px #D5D4D8;
    border-radius: 3px;
    width: 210px;
    height: 35px;
    text-indent: 10px;
}

.meme--inputs {
    display: flex;
    justify-content: space-between;
}

.meme--inputs input {
    font-family: "Karla";
}

.meme--button {
    width: 100%;
    height: 44px;
    margin: auto;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: #fff;
    border-radius: 6px;
    font-weight: 600;
    border: none;
    font-family: "Karla";
}

.meme--img {
    max-width: 100%;
}