* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    font-size: 60px;
    color: aliceblue;
}

.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: auto;
    background: green;
}

.div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: auto;
    background: yellow;
}

.div3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: auto;
    background: red;
}

@media(min-width: 576px) {
    .container  {
        flex-direction: row;
    }
}